extends layout

block content
  .row.page-header 
    .col-xs-12.col-sm-3
      h1= title
      p #{subTitle}
      div#usrImg
    .col-xs-12.col-sm-9
      .row
        h2 Friends
        #friendList
          each friend in accountInfo.friends
            div
              p #{friend.picture}
              p #{friend.name}
              p #{friend.online}
  .row
    .col-xs-12.col-sm-3
      h2 #{jams.title}
      each event in jams.events
        .jamEvent
          p= event.picture
          p Goal: #{event.goal}
          p Host: #{event.host}
          p Type: #{event.type}
          p Zip: #{event.geoLocation.coordinates}
          p Description: #{event.description}
          p Capacity: #{event.capacity}
    .col-xs-12.col-sm-7#jamMap
      div
        h2 Jam Map
        img(src='https://maps.googleapis.com/maps/api/staticmap?size=400x400&center=Temple+Terrace,FL&zoom=13&markers=28.018943,-82.400372|28.027905,-82.379457|28.043523,-82.382605')
    .col-xs-12.col-sm-2
      h2 Preferences
      p #{accountInfo.name}
      p #{accountInfo.info}
      ul
        each instrument in accountInfo.instruments
          li
            div
              p #{instrument.category}
              p #{instrument.subCategory}
              p #{instrument.picture}
              p Rating: #{instrument.selfRating}
              p Comunity: #{instrument.communityRating}