extends layout

block content
  .page-header 
    h1= title
    p #{subTitle}
  .row
    .col-xs-12.col-sm-2
      p #{jams.title}
      each event in jams.events
        p Host: #{event.host}
        p Type: #{event.type}
        p Zip: #{event.zip}
    .col-xs-12.col-sm-8
      p #{map}
    .col-xs-12.col-sm-2
      p #{accountInfo.picture}
      p #{accountInfo.name}
      p #{accountInfo.info}